{config_load file='config.conf'}

<footer>
	<div class="d-flex justify-content-around align-items-center bg-dark">
		<a href="https://www.uha.fr/" target="_blank"><img class="logo logo-footer" src="/assets/img/layout/logos/suac/logo-suac.png" alt="Logo SUAC"></a>
		<span>© 2018-2019 - Patrimoine du SUAC</span>
		<a href="http://www.0.4.uha.fr/" target="_blank"><img class="logouha40 logo-footer" src="/assets/img/layout/logos/uha/logo4-uha.png" alt="Logo UHA 4.0"></a>
	</div>
</footer>