{config_load file='config.conf'}

<!-- METAS -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">

<!-- LINKS -->
<link rel="shortcut icon" href="/assets/img/layout/favicon/favicon-24p.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

{if $smarty.const._PAGE_ == "" || $smarty.const._PAGE_ == "/" || $smarty.const._PAGE_ == "accueil"}
	<link rel="stylesheet" href="/assets/css/accueil.css">
{elseif $smarty.const._PAGE_ == "form-campus" || $smarty.const._PAGE_ == "form-category"}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
{elseif $smarty.const._PAGE_ == "form-oeuvres"}
	<link rel="stylesheet" href="/assets/css/form_oeuvres.css">
{elseif $smarty.const._PAGE_ == "map"}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

	<link rel="stylesheet" href="/assets/css/map.css">
{elseif $smarty.const._PAGE_ == "patrimoine"|| preg_match("/patrimoine-([0-9]+)/", $smarty.const._PAGE_)}
	<link rel="stylesheet" href="/assets/css/oeuvres.css">
{/if}

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/footer.css">

{if $smarty.const._PAGE_ == "error-404"}
	<link rel="stylesheet" href="/assets/css/error_404.css">
{/if}
