{config_load file='config.conf'}

<header>
    <nav id="headerNavBar" class="navbar navbar-expand-sm navbar-dark">
        <!-- <a class="navbar-brand" href="#"><img src="" class="d-inline-block align-top" alt=""></a> -->
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {if $smarty.const._PAGE_ != '' && $smarty.const._PAGE_ != 'accueil'}nav-link-color {else} nav-link-active{/if}" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {if $smarty.const._PAGE_ != 'patrimoine'}nav-link-color {else} nav-link-active{/if}" href="/patrimoine">Patrimoine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {if $smarty.const._PAGE_ != 'map'} nav-link-color {else} nav-link-active{/if}" href="/map">Carte <i class="fas fa-map-marked-alt"></i></a>
			    </li>

                {if !empty($smarty.session.isConnected)}
                    <!-- Example single danger button -->
					<div class="btn-group" id="btn-nav-dropdown">
						<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion</button>
						<div class="dropdown-menu dropdown-menu-right" id="dropdown-menu-group">
							<a class="dropdown-item {if $smarty.const._PAGE_ == 'form-oeuvres'}active{/if}" href="/form-oeuvres">oeuvres</a>
							<a class="dropdown-item {if $smarty.const._PAGE_ == 'form-category'}active{/if}" href="/form-category">catégories</a>
							<a class="dropdown-item {if $smarty.const._PAGE_ == 'form-campus'}active{/if}" href="/form-campus">campus</a>
							{if $smarty.session.rights >= 2}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item {if $smarty.const._PAGE_ == 'admin'} active {/if}" href="/admin">Admin</a>
							{/if}
						</div>
					</div>

					<li>
						<a class="btn-connexion" href="/deconnexion"><button id="connectionButton" type="button" class="btn btn-outline-light">Deconnexion</button></a>
					</li>
				{else}
					<li>
                        <a class="btn-connexion" href="/connexion"><button id="connectionButton" type="button" class="btn btn-outline-light">Connexion</button></a>
                    </li>
                {/if}
            </ul>
        </div>
    </nav>
</header>
