<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
{if $smarty.const._PAGE_ == "form-campus" || $smarty.const._PAGE_ == "form-category"}
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{elseif $smarty.const._PAGE_ == "map"}
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
{/if}

<script src="/assets/js/broken_image.js"></script>

{if $smarty.const._PAGE_ == "form-campus"}
	{literal}
	<script>
	$(document).ready(function() {
		$('#myTable').DataTable();
	});

	$('.editButton').on( 'click', function(event) {
		let valueTr1 = event.target.closest("tr");

		jQuery('#' + valueTr1.id + ' .validationButton').removeClass("hidden");
		jQuery('#' + valueTr1.id + ' .supprButton').addClass("hidden");
		jQuery('#' + valueTr1.id + ' .editButton').addClass("hidden");
		jQuery('#' + valueTr1.id + ' .cancelButton').removeClass("hidden");
		jQuery('#' + valueTr1.id + ' .latitudeInput').fadeToggle("slow");
		jQuery('#' + valueTr1.id + ' .longitudeInput').fadeToggle("slow");
		jQuery('#' + valueTr1.id + ' .latitudeLongitudeValue').fadeToggle("slow");
		jQuery('#' + valueTr1.id + ' .campusNameInput').fadeToggle("slow");
		jQuery('#' + valueTr1.id + ' .campusNameValue').fadeToggle("slow");
	});

	$('.validationButton').on( 'click', function(event) {
		let valueTr2 = event.target.closest("tr");

		jQuery('#' + valueTr2.id + ' .editButton').removeClass("hidden");
		jQuery('#' + valueTr2.id + ' .supprButton').removeClass("hidden");
		jQuery('#' + valueTr2.id + ' .cancelButton').addClass("hidden");
		jQuery('#' + valueTr2.id + ' .validationButton').addClass("hidden");
		jQuery('#' + valueTr2.id + ' .latitudeInput').fadeToggle("slow");
		jQuery('#' + valueTr2.id + ' .longitudeInput').fadeToggle("slow");
		jQuery('#' + valueTr2.id + ' .latitudeLongitudeValue').fadeToggle("slow");
		jQuery('#' + valueTr2.id + ' .campusNameInput').fadeToggle("slow");
		jQuery('#' + valueTr2.id + ' .campusNameValue').fadeToggle("slow");
	});

	$('.cancelButton').on( 'click', function(event) {
		let valueTr3 = event.target.closest("tr");

		jQuery('#' + valueTr3.id + ' .editButton').removeClass("hidden");
		jQuery('#' + valueTr3.id + ' .supprButton').removeClass("hidden");
		jQuery('#' + valueTr3.id + ' .cancelButton').addClass("hidden");
		jQuery('#' + valueTr3.id + ' .validationButton').addClass("hidden");
		jQuery('#' + valueTr3.id + ' .latitudeInput').fadeToggle("slow");
		jQuery('#' + valueTr3.id + ' .longitudeInput').fadeToggle("slow");
		jQuery('#' + valueTr3.id + ' .latitudeLongitudeValue').fadeToggle("slow");
		jQuery('#' + valueTr3.id + ' .campusNameInput').fadeToggle("slow");
		jQuery('#' + valueTr3.id + ' .campusNameValue').fadeToggle("slow");
	});
	</script>
	{/literal}
{elseif $smarty.const._PAGE_ == "form-category"}
	{literal}
	<script>
		$(document).ready(function() {
			$('#myTable').DataTable();
		});

		$(".editButton").click(function(event) {
			let valueTr1 = event.target.closest("tr");

			$('#' + valueTr1.id + ' .editButton').addClass("hidden");
			$('#' + valueTr1.id + ' .validationButton').removeClass("hidden");
			$('#' + valueTr1.id + ' .cancelButton').removeClass("hidden");
			$('#' + valueTr1.id + ' .supprButton').addClass("hidden");
			$('#' + valueTr1.id + ' .editImg').fadeToggle("slow");
			$('#' + valueTr1.id + ' .imgRow').fadeToggle("slow");
			$('#' + valueTr1.id + ' .editCategory').fadeToggle("slow");
			$('#' + valueTr1.id + ' .categoryRow').fadeToggle("slow");
		});

		$(".validationButton").click(function(event) {
			let valueTr2 = event.target.closest("tr");

			$('#' + valueTr2.id + ' .editButton').removeClass("hidden");
			$('#' + valueTr2.id + ' .validationButton').addClass("hidden");
			$('#' + valueTr2.id + ' .cancelButton').addClass("hidden");
			$('#' + valueTr2.id + ' .supprButton').removeClass("hidden");
			$('#' + valueTr2.id + ' .editImg').fadeToggle("slow");
			$('#' + valueTr2.id + ' .imgRow').fadeToggle("slow");
			$('#' + valueTr2.id + ' .editCategory').fadeToggle("slow");
			$('#' + valueTr2.id + ' .categoryRow').fadeToggle("slow");
		});

		$(".cancelButton").click(function(event) {
			let valueTr3 = event.target.closest("tr");

			$('#' + valueTr3.id + ' .editButton').removeClass("hidden");
			$('#' + valueTr3.id + ' .validationButton').addClass("hidden");
			$('#' + valueTr3.id + ' .cancelButton').addClass("hidden");
			$('#' + valueTr3.id + ' .supprButton').removeClass("hidden");
			$('#' + valueTr3.id + ' .editImg').fadeToggle("slow");
			$('#' + valueTr3.id + ' .imgRow').fadeToggle("slow");
			$('#' + valueTr3.id + ' .editCategory').fadeToggle("slow");
			$('#' + valueTr3.id + ' .categoryRow').fadeToggle("slow");
		});
	</script>
	{/literal}
{elseif $smarty.const._PAGE_ == "map"}
	<script>
	var infoMap = {$aMapInformations};
	var infoCampus = {$aCampusesInformations};
	var infoCategorie = {$aCategoriesInformations};
	{literal}
	var objectMap = {
		ids:'',
		typeMark:'',
		list:[],
		test:1,
		image:''
	};
	var markerMap = [];
	infoCategorie.forEach(function(e) {
		var test = Object.create(objectMap);
		test.ids = e.id;
		test.typeMark = e.categorie;
		test.image = e.image;
		test.list = [];
		test.test = 1;
		markerMap.push(test);
	});

	// Init map & tiles
	const mymap = L.map('mapid',{zoomControl:false}).setView([infoCampus[0].latitude, infoCampus[0].longitude],14);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 16,
		minZoom: 2,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(mymap);

	// Add Search Bar
	L.Control.geocoder({
		position:'topright'
	}).addTo(mymap);
	// Add a button to locate the user
	const lc = L.control.locate({
		position:'topright',
		flyTo: true,
		cacheLocation: false,
		strings: {
			popup: '<b>You are here</b>'
		}
	}).addTo(mymap);


	// Add marker pictures
	markerMap.forEach(function(e) {
		const teston = L.icon({
			iconUrl: e.image,
			iconAnchor: [45,90]
		});
		e.image = teston;
	});

	// Create and add markers
	function coordinateFinders(coord) {
		for (j=0;j<markerMap.length;j++) {
			if(coord['categorie'] == markerMap[j].ids) {
				var marker = L.marker([coord['latitude'], coord['longitude']], {icon:markerMap[j].image}).addTo(mymap);
				marker.bindPopup("<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'><p><b>"+coord['nom']+"</b> - "+coord['artiste']+" - "+coord['annee']+"</p><hr><div class='text-center'><a href='"+coord['image']+"' target='_blank'><img style='width:100px; height:100px' src='"+coord['image']+"'></img></a></div><hr><p>"+coord['description'].substring(0,100)+"...</p><div class='text-center'><a class='btn btn-sm btn-outline-primary' href='https://www.google.com/maps/dir/?api=1&origin=&destination="+coord['latitude']+","+coord['longitude']+"' target='_blank'>Localiser</a></div></div>");
				markerMap[j].list.push(marker);
			}
		}
	};

	for(i=0;i<infoMap.length;i++) {
		coordinateFinders(infoMap[i]);
	}

	/*	// Par addresse : Attention trop de requête et c'est mort, il faut évite le par adressse autant que possible
	function locationFinder(address) {
		geocoder = new L.Control.Geocoder.Nominatim();
		var yourQuery = (address);
		geocoder.geocode(yourQuery, function(results) {
			latLng= new L.LatLng(results[0].center.lat, results[0].center.lng);
			markerz = new L.Marker(latLng, {icon:artPaint}).addTo(mymap);
			markerz.bindPopup(address);
			markerPaint.push(markerz);
		});
	}

	// Test with multiple markers
	var locateThem = ['ENSISA Mulhouse','Cora Dornach','Self les castors'];
	locateThem.forEach(function(locateMe) {
		locationFinder(locateMe);
	});*/

	// Only show markers visible on the user screen (zoom dependent)
	// Need to do it for both type of markers or it won't work properly


	// Check if markers are out of bounds per category
	mymap.on('moveend', function() {
		markerMap.forEach(function(a) {
			if (a.test == 1 && mymap.getZoom() > 6) {
				var mapBounds = mymap.getBounds();
				for (var i = a.list.length -1; i >= 0; i--) {
					var m = a.list[i];
					var shouldBeVisible = mapBounds.contains(m.getLatLng());
					if (m._icon && !shouldBeVisible) {
						mymap.removeLayer(m);
					}
					else if (!m._icon && shouldBeVisible) {
						mymap.addLayer(m);
					}
				}
			}
		});
	});

	// Check if the zoom level istoo high to remove all the marker on the map, or put them back in otherwise
	mymap.on('zoomend', function() {
		markerMap.forEach(function(a) {
			for (var i = a.list.length -1; i >= 0; i--) {
				if (mymap.getZoom() <= 6) {
					mymap.removeLayer(a.list[i]);
				}
				else {
					if (a.test == 1) {
						mymap.addLayer(a.list[i]);
					}
				}
			}
		});
	});

	// Add buttons to the left for every category
	markerMap.forEach(function(a) {
		var testButton = L.easyButton('<strong>'+a.typeMark.substring(0,2)+'</strong>', function() {
			var mapBounds = mymap.getBounds();
			for (var i = a.list.length -1; i >= 0; i--) {
				var m = a.list[i];
				var shouldBeVisible = mapBounds.contains(m.getLatLng());
				if (shouldBeVisible) {
					if (a.test == 1) {
						mymap.removeLayer(m);
					}
					else {
						mymap.addLayer(m);
					}
				}
			}

			if (a.test == 1) {
				a.test = 0;
			}
			else {
				a.test = 1;
			}
		});
		testButton.addTo(mymap);
		mymap.on('zoomend', function(e) {
			if(mymap.getZoom() > 6) {
				testButton.enable();
			}
			else {
				testButton.disable();
			}
		});
	});

	// Campuses Dropdown
	var testSelect = L.control({position: 'topright'});
	testSelect.onAdd = function (map) {
		var div = L.DomUtil.create('div', 'campus');
		var options = '';
		for (i=0;i<infoCampus.length;i++) {
			options += '<option>' + infoCampus[i].campus + '</option>';
		}
		div.innerHTML = '<select id="campus">' + options + '</select>';
		div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;
		return div;
	};
	testSelect.addTo(mymap);

	var select = document.getElementById('campus');
	function logValue() {
		for(i=0;i<infoCampus.length;i++) {
			if(select.value == infoCampus[i].campus) {
				mymap.setView([infoCampus[i].latitude, infoCampus[i].longitude],14);
			}
		}
	}
	select.addEventListener('change', logValue, false);

	// Right click to find lat/long
	var lat, lng;
	mymap.addEventListener('mousemove', function(ev) {
		lat = ev.latlng.lat;
		lng = ev.latlng.lng;
	});

	document.getElementById("mapid").addEventListener("contextmenu", function (event) {
		event.preventDefault();
		alert(lat + ' - ' + lng);
		return false;
	});
	</script>
	{/literal}
{/if}
