{config_load file='config.conf'}
<title>{#Oeuvres_title#}</title>

<div class="center w50">
	<h1 style="text-align: center;">{#Oeuvres_title#}</h1>
</div>

<div>
	{if $aMessageError|@count > 0}
		<div class="blockError">
			{foreach from=$aMessageError key=key item=sMessageError}
				<p>- {$sMessageError}</p>
			{/foreach}
		</div>
	{/if}

	{if $aMessageSuccess|@count > 0}
		<div class="blockSuccess">
			{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
				<p>- {$sMessageSuccess}</p>
			{/foreach}

		</div>
	{/if}
</div>

<!-- FONCTION SMARTY DE RETENTION DU BOUTON "FILTRE" ACTIF -->
{function buttonGenerator filterType=0 key=0 infos=0 type=0}
	{if isset($filterType)}
		{if $filterType == $key}
			<button id={$key} class="btn btn-info">{$infos.$type}</button>
		{else}
			<button id={$key} class="btn btn-outline-info">{$infos.$type}</button>
		{/if}
	{/if}
{/function}

<!-- FONCTION DE RECHERCHE -->
<form action="/patrimoine" method="get">
	<div class="container search">
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Chercher un monument" aria-label="Chercher un monument" aria-describedby="basic-addon2" id="searchInput" name="searchInput" value="" required />

			<div class="input-group-append">
				<button class="btn btn-outline-info" type="submit" name="searchButton" id="search">Chercher</button>
			</div>
		</div>
	</div>
</form>

<!-- FONCTION DE CHOIX DU NOMBRE D'OEUVRES PAR PAGE -->
{function itemNumberDisplay itemNumber = 0}
	<button href="" name="{$itemNumber}" type="submit" class="btn btn-sm btn{foreach from=$maxPerPage key=IFkey item=mpp}{if $mpp != {$itemNumber}}-outline{/if}-secondary{/foreach} rounded-0">{$itemNumber}</button>
	<input type="hidden" name="{$itemNumber}PerPage" value="{$itemNumber}" />

	{if isset($categoryFilter) || isset($categorySecondFilter)}
		<input type="hidden" name="categorySecondFilter" value="{$categoryFilter}"/>
	{/if}

	{if isset($campusFilter) || isset($campusSecondFilter)}
		<input type="hidden" name="campusSecondFilter" value="{$campusFilter}"/>
	{/if}
{/function}

<div class="container pageSelect">
	<h6 class="dropdown-header">Oeuvres par page</h6>

	<div class="row perPageSelect">
		<form action="/patrimoine" method="get">
			{for $number=1 to 3}
			    {itemNumberDisplay itemNumber = $number * 6}
			{/for}
		</form>
	</div>
</div>

<!-- REINITIALISATION DE FILTRES -->
<div class="container">
	<div id="Filtres" class="text-center d-flex justify-content-center">
		<div class="row">
			<form action="" method="GET">
				<a href="/patrimoine"><button class="btn btn-outline-info resetFilter">Reinitialisation des filtres</button></a>

				{if isset($maxPerPage)}
					<input type="hidden" name="maxItems" value="{$maxPerPage}"/>
				{/if}
			</form>
		</div>
	</div>
</div>

<!-- FONCTION DE FILTRE PAR CAMPUS -->
<div class="container">
	<div id="Filtres" class="text-center d-flex justify-content-center">
		<div class="row">
			<form action="" method="GET">
				<a href="/patrimoine"><button class="btn btn{if isset($campusFilter)}-outline{/if}-info allFilter">Tous les Campus</button></a>
				<input type="hidden" name="allCampus" value=""/>

				{if isset($categoryFilter) || isset($categorySecondFilter)}
					<input type="hidden" name="categorySecondFilter" value="{$categoryFilter}"/>
				{/if}

				{if isset($maxPerPage)}
					<input type="hidden" name="maxItems" value="{$maxPerPage}"/>
				{/if}
			</form>

			{foreach from=$aCampusInformations key=IFkey item=CampusInformations}
				<form action="" method="GET">
					{if isset($campusFilter)}
						{buttonGenerator filterType=$campusFilter key=$IFkey infos=$CampusInformations type="campus"}
					{else}
						<button id={$IFkey} class="btn btn-outline-info">{$CampusInformations.campus}</button>
					{/if}

					<input type="hidden" name="campusFilter" value="{$IFkey}"/>

					{if isset($categoryFilter) || isset($categorySecondFilter)}
						<input type="hidden" name="categorySecondFilter" value="{$categoryFilter}"/>
					{/if}

					{if isset($maxPerPage)}
						<input type="hidden" name="maxItems" value="{$maxPerPage}"/>
					{/if}
				</form>
			{/foreach}
		</div>
	</div>

	<!-- FONCTION DE FILTRE PAR CATEGORIE -->
	<div id="Filtres" class="text-center d-flex justify-content-center">
		<div class="row">
			<form action="" method="GET">
				<a href="/patrimoine"><button class="btn btn{if isset($categoryFilter)}-outline{/if}-info allFilter">Toutes les catégories</button></a>
				<input type="hidden" name="allCategories" value=""/>

				{if isset($campusFilter) || isset($campusSecondFilter)}
					<input type="hidden" name="campusSecondFilter" value="{$campusFilter}"/>
				{/if}

				{if isset($maxPerPage)}
					<input type="hidden" name="maxItems" value="{$maxPerPage}"/>
				{/if}
			</form>

			{foreach from=$aCategoriesInformations key=IFkey item=CategoriesInformations}
				<form action="" method="GET">
					{if isset($categoryFilter)}
						{buttonGenerator filterType=$categoryFilter key=$IFkey infos=$CategoriesInformations type="category"}
					{else}
						<button id={$IFkey} class="btn btn-outline-info">{$CategoriesInformations.category}</button>
					{/if}

					<input type="hidden" name="categoryFilter" value="{$IFkey}" />

					{if isset($campusFilter) || isset($campusSecondFilter)}
						<input type="hidden" name="campusSecondFilter" value="{$campusFilter}"/>
					{/if}

					{if isset($maxPerPage)}
						<input type="hidden" name="maxItems" value="{$maxPerPage}"/>
					{/if}
				</form>
			{/foreach}
		</div>
	</div>

	<!-- CARTES DE PRESENTATION -->
	<div class="row justify-content-center">
		{foreach from=$aOeuvresInformations key=IFkey item=OeuvreInformations}
			<div class="card rounded col-10 col-sm-5 col-md-5 col-lg-3 cardFilter" id="{$OeuvreInformations.categorie}">
				<img class="card-img-top" src="{$OeuvreInformations.image}" alt="Image de {$OeuvreInformations.nom}">
				<small class="text-muted ml-1 mt-1">&copy; {$OeuvreInformations.droitsAuteur}</small>
				<div id="toggleColor" class="card-body d-flex flex-column {if $IFkey is odd}bg-light{/if}">
					<h5 class="card-title">{$OeuvreInformations.nom}</h5>
					<hr>

					<p class="card-text">
						{if $OeuvreInformations.description|count_characters >= 108}
							{$OeuvreInformations.description|truncate:108:"..."}
						{else}
							{$OeuvreInformations.description}
						{/if}
					</p>

					<p class="card-text">
						<small class="text-muted">{$OeuvreInformations.annee}</small>
						<small class="text-muted">{$OeuvreInformations.artiste}</small>
					</p>

					<div class="mt-auto row justify-content-around">
						<div class="btn-group">
							<button class="btn btn-sm btn-outline-info rounded-left align-self-center voir" data-toggle="modal" data-target="#presentationModal{$IFkey}">Voir</button>
							<a class="btn btn-sm btn-outline-info rounded-right align-self-center localiser" href="https://www.google.com/maps/dir/?api=1&origin=&destination={$OeuvreInformations.latitude},{$OeuvreInformations.longitude}" target="_blank">Localiser</a>
						</div>

						{if !empty($smarty.session.isConnected)}
							<div class="row justify-content-around loggedButtons">
								<form action="/patrimoine" method="post">
									<button id="supprButton" type="submit" name="supprButton" class="btn btn-danger trash"><i class="fas fa-trash-alt"></i></button>
									<input type="hidden" name="editModalLabel" value="{$OeuvreInformations.nom}" />
								</form>

								<button class="btn btn-sm btn-info rounded float-right" data-toggle="modal" data-target="#editModal{$IFkey}">Editer</button>
							</div>
						{/if}
					</div>
				</div>
			</div>

			<!-- MODALE D'AFFICHAGE -->
			<div class="modal" id="presentationModal{$IFkey}" tabindex="-1" role="dialog" aria-labelledby="presentationModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="presentationModalLabel">{$OeuvreInformations.nom}</h5>

							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<p><small>{$OeuvreInformations.artiste} - {$OeuvreInformations.annee}</small></p>
							<hr>

							<p>{$OeuvreInformations.description}</p>
							<hr>

							<img class="card-img" src="{$OeuvreInformations.image}" alt="Image de {$OeuvreInformations.nom}">
							<small>&copy; {$OeuvreInformations.droitsAuteur}</small>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">Retour</button>
							<a class="btn btn-primary" href="https://www.google.com/maps/dir/?api=1&origin=&destination={$OeuvreInformations.latitude},{$OeuvreInformations.longitude}" target="_blank">Localiser</a>
						</div>
					</div>
				</div>
			</div>

			<!-- MODALE D'EDITION -->
			<div class="modal modalEdition" id="editModal{$IFkey}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="editModalLabel">{$OeuvreInformations.nom}</h5>
						</div>

						<form action="/patrimoine" method="POST" enctype="multipart/form-data">
							<div class="modal-body chg">
								<p><small>{$OeuvreInformations.artiste} - {$OeuvreInformations.annee}</small></p>

								<textarea type="text" class="form-control" rows="5" id="upToDateDescription" name="upToDateDescription" placeholder="Description...">{$OeuvreInformations.description}</textarea>

								<img class="card-img mt-2" src="{$OeuvreInformations.image}" alt="Image de {$OeuvreInformations.nom}">
								<small>&copy; <input type="text" class="mt-2" name="upToDatedroitsAuteur" id="upToDatedroitsAuteur" value="{$OeuvreInformations.droitsAuteur}"></small>

								<div class="d-flex flex-row justify-content-around">
									<label for="fileUser" name="fileButton" title="extensions autorisés: bmp, gif, jpg, jpeg, png, tiff, webp">Image (taille max: 5Mo):</label>
									<input type="file" class="form-control-file form-w220 mt-2 fileUser" id="fileUser" name="fileUser">
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-info" data-dismiss="modal">Retour</button>

								<input type="hidden" name="oeuvreId" value="{$OeuvreInformations.id}" />
								<input id="updateDescriptionButton" type="submit" class="btn btn-primary" name="updateDescriptionButton" value="Sauver les modifications">
							</div>
						</form>
					</div>
				</div>
			</div>
		{/foreach}
	</div>

	<!-- PAGINATION -->
	<nav aria-label="Page Navigation" id="pagination" class="row justify-content-center text-center">
		<ul class="pagination">
			{foreach from=$links key=IFkey item=page}
				<form action="/patrimoine" method="get">
					<li class="page-item"><button name="pagination" class="page-link rounded-0 paginat" href="" type="submit">{$page}</button></li>

					<input type="hidden" name="changePage" value="{$page}" />

					{if isset($categoryFilter) || isset($categorySecondFilter)}
						<input type="hidden" name="categorySecondFilter" value="{$categoryFilter}"/>
					{/if}

					{if isset($campusFilter) || isset($campusSecondFilter)}
						<input type="hidden" name="campusSecondFilter" value="{$campusFilter}"/>
					{/if}

					{if isset($maxPerPage)}
						<input type="hidden" name="maxItems" value="{$maxPerPage}"/>
					{/if}
				</form>
			{/foreach}
		</ul>
	</nav>
</div>
