{config_load file='config.conf'}
<title>Oeuvre n°{$idOeuvre}</title>

<div class="center w50">
	<h1 style="text-align: center;">Oeuvre n°{$idOeuvre}</h1>
</div>

<div>
	{if $aMessageError|@count > 0}
		<div class="blockError">
			{foreach from=$aMessageError key=key item=sMessageError}
				<p>- {$sMessageError}</p>
			{/foreach}
		</div>
	{/if}

	{if $aMessageSuccess|@count > 0}
		<div class="blockSuccess">
			{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
				<p>- {$sMessageSuccess}</p>
			{/foreach}
		</div>
	{/if}
</div>

<div class="container">
	<!-- CARTES DE PRESENTATION -->
	<div class="row justify-content-center">
		<div class="card rounded col-10 col-sm-5 col-md-5 col-lg-3 cardFilter" id="{$aOeuvre.categorie}">
			<img class="card-img-top" src="{$aOeuvre.image}" alt="Image de {$aOeuvre.nom}">

			<div id="toggleColor" class="card-body d-flex flex-column {if $idOeuvre is odd}bg-light{/if}">
				<h5 class="card-title">{$aOeuvre.nom}</h5>
				<hr>

				<p class="card-text">
					{if $aOeuvre.description|count_characters >= 108}
						{$aOeuvre.description|truncate:108:"..."}
					{else}
						{$aOeuvre.description}
					{/if}
				</p>

				<p class="card-text"><small class="text-muted">{$aOeuvre.annee}</small><br><small class="text-muted">{$aOeuvre.artiste}</small></p>

				<div class="mt-auto row justify-content-around">
					<div class="btn-group">
						<button class="btn btn-sm btn-outline-info rounded-left align-self-center voir" data-toggle="modal" data-target="#presentationModal{$idOeuvre}">Voir</button>
						<a class="btn btn-sm btn-outline-info rounded-right align-self-center localiser" href="https://www.google.com/maps/dir/?api=1&origin=&destination={$aOeuvre.latitude},{$aOeuvre.longitude}" target="_blank">Localiser</a>
					</div>

					{if !empty($smarty.session.isConnected)}
						<div class="row justify-content-around loggedButtons">
							<form action="/oeuvre-{$idOeuvre}" method="post">
								<button id="supprButton" type="submit" name="supprButton" class="btn btn-danger trash"><i class="fas fa-trash-alt"></i></button>
								<input type="hidden" name="editModalLabel" value="{$aOeuvre.nom}" />
							</form>

							<button class="btn btn-sm btn-info rounded float-right" data-toggle="modal" data-target="#editModal{$idOeuvre}">Editer</button>
						</div>
					{/if}
				</div>
			</div>
		</div>

		<!-- MODALE D'AFFICHAGE -->
		<div class="modal" id="presentationModal{$idOeuvre}" tabindex="-1" role="dialog" aria-labelledby="presentationModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="presentationModalLabel">{$aOeuvre.nom}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<p><small>{$aOeuvre.artiste} - {$aOeuvre.annee}</small></p>
						<hr>

						<p>{$aOeuvre.description}</p>
						<hr>

						<img class="card-img" src="{$aOeuvre.image}" alt="Image de {$aOeuvre.nom}">
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">Retour</button>
						<a class="btn btn-primary" href="https://www.google.com/maps/dir/?api=1&origin=&destination={$aOeuvre.latitude},{$aOeuvre.longitude}" target="_blank">Localiser</a>
					</div>
				</div>
			</div>
		</div>

		<!-- MODALE D'EDITION -->
		<div class="modal modalEdition" id="editModal{$idOeuvre}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editModalLabel">{$aOeuvre.nom}</h5>
					</div>

					<form action="/oeuvre-{$idOeuvre}" method="post">
						<div class="modal-body chg">
							<p><small>{$aOeuvre.artiste} - {$aOeuvre.annee}</small></p>

							<textarea id="upToDateDescription" class="form-control" type="text" name="upToDateDescription">{$aOeuvre.description}</textarea>
							<br>

							<img class="card-img" src="{$aOeuvre.image}" alt="Image de {$aOeuvre.nom}">
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">Retour</button>
							<input type="hidden" name="oeuvreId" value="{$aOeuvre.id}" />
							<input id="updateDescriptionButton" type="submit" class="btn btn-primary" name="updateDescriptionButton" value="Sauver les modifications">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <p>Mon oeuvre numero {$idOeuvre}</p> -->