{config_load file='config.conf'}

<title>{#Connexion_title#}</title>

<div class="center w50">
    <h1 style="text-align: center;">{#Connexion_title#}</h1>
</div>

<div>
	{if $aMessageError|@count > 0}
		<div class="blockError">
			{foreach from=$aMessageError key=key item=sMessageError}
				<p>- {$sMessageError}</p>
			{/foreach}
		</div>
	{/if}

	{if $aMessageSuccess|@count > 0}
		<div class="blockSuccess">
			{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
				<p>- {$sMessageSuccess}</p>
			{/foreach}
		</div>
	{/if}
</div>

<div class="container">
	<form class="jumbotron col-8 mx-auto shadow-lg"  method="POST" name="inscription_form" action="/connexion" enctype="multipart/form-data">
		<div class="row">
			<div class="form-group mx-auto">
				<!-- <label for="pseudo">Pseudo</label> -->
				<input type="text" name="username" class="form-control" style="width: 220px" placeholder="Username" required>
			</div>
		</div>

		<div class="row">
			<div class="form-group mx-auto">
				<!-- <label for="password">Mot de passe</label> -->
				<input type="password" name="password" class="form-control" style="width: 220px" placeholder="Mot de passe" required>
			</div>
		</div>

		<div class="row">
			<div class="form-group mx-auto">
				<input type="submit" name="submit" class="btn btn-primary" value="Connexion">
			</div>
		</div>

		<div class="row">
			<div class="form-group mx-auto">
				<a href="/password-reset">Mot de passe oublié ?</a>
			</div>
		</div>
	</form>
</div>