{config_load file='config.conf'}

<title>{#PasswordReset_title#}</title>

<div class="center w50">
    <h1 style="text-align: center;">{#PasswordReset_title#}</h1>
</div>

<div>
	{if $aMessageError|@count > 0}
		<div class="blockError">
			{foreach from=$aMessageError key=key item=sMessageError}
				<p>- {$sMessageError}</p>
			{/foreach}
		</div>
	{/if}

	{if $aMessageSuccess|@count > 0}
		<div class="blockSuccess">
			{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
				<p>- {$sMessageSuccess}</p>
			{/foreach}
		</div>
	{/if}
</div>