{if !empty($smarty.session.isConnected)}
	{config_load file='config.conf'}
	<title>{#Form_oeuvres#}</title>

	<div class="center w50">
		<h1 style="text-align: center;">{#Form_oeuvres#}</h1>
	</div>

	<div>
		{if $aMessageError|@count > 0}
			<div class="blockError">
				{foreach from=$aMessageError key=key item=sMessageError}
					<p>- {$sMessageError}</p>
				{/foreach}
			</div>
		{/if}

		{if $aMessageSuccess|@count > 0}
			<div class="blockSuccess">
				{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
					<p>- {$sMessageSuccess}</p>
				{/foreach}
			</div>
		{/if}
	</div>

	<div class="container">
		<form class=" jumbotron col-8 mx-auto shadow-lg " style="width: 720px"  method="POST" name="uploadForm" action="/form-oeuvres" enctype="multipart/form-data">
			<div class="row">
				<div class="form-group mx-5">
					<label>Nom de l'oeuvre:</label>
					<input class="form-control" style="width: 220px" type="text" name="nameOeuvre">
				</div>
				<div class="form-group mx-5">
					<label>Nom de l'artiste:</label>
					<input class="form-control" style="width: 220px" type="text" name="artisteName">
				</div>
			</div>
			<div class="row">
				<div class="form-group mx-5">
					<label>Coordonnées:</label>
					<input class="form-control" style="width: 220px" type='text' placeholder="Latitude" name="latitude">
					<input class="form-control" style="width: 220px" type='text' placeholder="Longitude" name="longitude">
				</div>
				<div class="form-group mx-5 ">
					<label>Année:</label>
					<input class="form-control"  style="width: 220px" type="text" name="oeuvreAnnee">
				</div>
			</div>
			<div class="row">
				<div class="form-group mx-5" style="width: 220px">
					<label for="dropCatego">Catégorie:</label>
					<select class="form-control form-control-sm " id=dropCatego name="oeuvreCatego">
						<option>Choisir votre catégorie</option>
							{foreach from=$aCategoriesInformations key=iFkey item=categoriesInformations}
						<option value="{$categoriesInformations.id}">{$categoriesInformations.categorie}</option>
							{/foreach}
					</select>
				</div>
				<div class="form-group mx-5" style="width: 220px">
					<label for="dropCampus">Campus:</label>
					<select class="form-control form-control-sm" id=dropCatego name="oeuvreCampus">
						<option>Choisir le Campus</option>
							{foreach from=$aCampusesInformations key=iFkey item=campusInformations}
						<option value="{$campusInformations.id}">{$campusInformations.campus}</option>
							{/foreach}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group mx-5" style="width: 220px">
					<label>Droits d'ateurs:</label>
					<input class="form-control" style="width: 220px" type="text" name="droitsAuteur" id="droitsAuteur">
				</div>
				<div class="form-group mx-5" style="width: 220px">
					<label>Photo (taille max: 5Mo)</label>
					<input type="file" class="form-control-file input-sm input-md input-lg" name="fileUser" id="fileUser" />
				</div>
			</div>
			<div class="form-group mx-5">
				<label>Description</label>
				<textarea class="form-control" name="oeuvreTextarea" placeholder="Tapez votre description ici"></textarea>
			</div>
			<div class="mls form-group">
				<button type="submit" class="btn btn-info" value="Créer" name="submit">Créer <i class="fa fa-plus ml-1" aria-hidden="true"></i></button>
			</div>
		</form>
	</div>
{/if}
