{if !empty($smarty.session.isConnected)}
	{config_load file='config.conf'}
	<title>{#Form_campus#}</title>

	<div class="center w50">
		<h1 style="text-align: center;">{#Form_campus#}</h1>
	</div>

	<div>
		{if $aMessageError|@count > 0}
			<div class="blockError">
				{foreach from=$aMessageError key=key item=sMessageError}
					<p>- {$sMessageError}</p>
				{/foreach}
			</div>
		{/if}

		{if $aMessageSuccess|@count > 0}
			<div class="blockSuccess">
				{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
					<p>- {$sMessageSuccess}</p>
				{/foreach}
			</div>
		{/if}
	</div>

	<div class="container">
		<div class="d-flex justify-content-center p-2 my-5">
			<form class="form-inline" method="POST" action="/form-campus" name="campusForm" id="campusForm" enctype="multipart/form-data">
				<label for="nameCampus" class="mx-2">Nom du campus:</label>
				<input type="text" class="form-control form-w220 mx-2 nameCampus" name="nameCampus" id="nameCampus">

				<label for="latitude" class="mx-2">Coordonnées:</label>
				<input type="text" class="form-control form-w220 latitude" placeholder="Latitude" name="latitude" id="latitude">
				<input type="text" class="form-control form-w220 mx-2 longitude" placeholder="Longitude" name="longitude" id="longitude">

				<button type="submit" class="btn btn-info mx-3" value="Créer" name="submit">Créer <i class="fa fa-plus ml-1" aria-hidden="true"></i></button>
			</form>
		</div>

		<table id="myTable" class="display">
			<thead>
				<tr scope="row">
					<th scope="col">ID</th>
					<th scope="col">Campus</th>
					<th scope="col">Coordonnées</th>
					<th scope="col">Action</th>
				</tr>
			</thead>

			<tbody>
				{foreach from=$aCampusInformations key=iFKey item=campusItem}
					<tr id="{$campusItem.id}" scope="row">
						<form action="/form-campus" method="POST" enctype="multipart/form-data">
							<td scope="col">{$campusItem.id}</td>

							<td scope="col">
								<span class="campusNameValue">{$campusItem.campus}</span>
								<input type="hidden" name="idCampus" value="{$campusItem.id}">
								<input class="form-control form-w220 campusNameInput hidden" type="text" id="nameCampusInput" name="nameCampusInput" value="{$campusItem.campus}">
							</td>

							<td scope="col">
								<span class="latitudeLongitudeValue">{$campusItem.latitude} / {$campusItem.longitude}</span>
								<input class="form-control form-w220 latitudeInput hidden" type='text' placeholder="Latitude" id="latitudeInput" name="latitudeInput" value="{$campusItem.latitude}" >
								<input class="form-control form-w220 longitudeInput hidden" type='text' placeholder="Longitude" id="longitudeInput" name="longitudeInput" value="{$campusItem.longitude}">
							</td>

							<td scope="col">
								<button type="submit" name="supprButton" class="btn btn-danger trash supprButton"><i class="fas fa-trash-alt"></i></button>
								<button type="reset" name="cancelButton" class="btn btn-danger trash cancelButton hidden"><i class="fas fa-times-circle"></i></button>
								<button type="button" name="editButton" class="btn btn-info edit editButton"><i class="fas fa-edit"></i></button>
								<button type="submit" name="validationButton" class="btn btn-success validate validationButton hidden"><i class="fas fa-save"></i></button>
							</td>
						</form>
					</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
{/if}