{if !empty($smarty.session.isConnected) && $smarty.session.rights >= 2}
	{config_load file='config.conf'}
	<title>{#Inscription_title#}</title>

	<h1 style="text-align: center;">{#Inscription_title#}</h1>

	<div>
		{if $aMessageError|@count > 0}
			<div class="blockError">
				{foreach from=$aMessageError key=key item=sMessageError}
					<p>- {$sMessageError}</p>
				{/foreach}
			</div>
		{/if}

		{if $aMessageSuccess|@count > 0}
			<div class="blockSuccess">
				{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
					<p>- {$sMessageSuccess}</p>
				{/foreach}
			</div>
		{/if}
	</div>

	<div id="create-new-user">
		<div class="container">
			<form class="jumbotron col-8 mx-auto shadow-lg"  method="POST" name="inscription_form" action="/admin/new-user" enctype="multipart/form-data">
				<div class="row">
					<div class="form-group mx-auto">
						<input type="text" name="pseudo" class="form-control" style="width: 220px" placeholder="Pseudo" required>
					</div>

					<div class="form-group mx-auto">
						<input type="password" name="password" class="form-control" style="width: 220px" placeholder="Mot de passe" required>
					</div>
				</div>

				<div class="row">
					<div class="form-group mx-auto">
						<input type="text" name="firstname" class="form-control" style="width: 220px" placeholder="Prénom" required>
					</div>

					<div class="form-group mx-auto">
						<input type="password" name="password_check" class="form-control" style="width: 220px" placeholder="Retapez votre mot de passe" required>
					</div>
				</div>

				<div class="row">
					<div class="form-group mx-auto">
						<input type="text" name="lastname" class="form-control" style="width: 220px" placeholder="Nom" required>
					</div>

					<div class="form-group mx-auto">
						<input type="text" name="email" class="form-control" style="width: 220px" placeholder="Adresse e-mail" required>
					</div>
				</div>

				<div class="row">
					<div class="form-group mx-auto">
						<input type="submit" name="submit" class="btn btn-primary" value="Enregistrer">
					</div>
				</div>
			</form>
		</div>
	</div>
{/if}