{config_load file='config.conf'}
<title>{#Main_title#}</title>

<div class="center w50">
	<h1 style="text-align: center;">{#Main_title#}</h1>
</div>

<div>
	{if $aMessageError|@count > 0}
	<div class="blockError">
		{foreach from=$aMessageError key=key item=sMessageError}
		<p>- {$sMessageError}</p>
		{/foreach}
	</div>
	{/if}

	{if $aMessageSuccess|@count > 0}
	<div class="blockSuccess">
		{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
		<p>- {$sMessageSuccess}</p>
		{/foreach}
	</div>
	{/if}
</div>

<!--Carroussel avec images d'exemples -->
<div id="carousel">
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{foreach from=$aOeuvresInformations key=IFkey item=OeuvreInformations}
			<div class="carousel-item {if $IFkey == 0}active{/if}">
				<img class="d-block w-100" src="{$OeuvreInformations.image}" alt="Oeuvre{$IFkey}">
			</div>
			{/foreach}
		</div>
	</div>
</div>