#carousel {
	width: 64%;
	margin: auto;
	margin-bottom: 80px;
}

#carousel img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

@media (max-width: 575.98px) {
	#carousel {
		width: 92%;
		margin: auto;
	}

	#carousel img {
		width: 100% !important;
		height: 220px !important;
		object-fit: cover !important;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#carousel img {
		width: 100% !important;
		height: 320px !important;
		object-fit: cover !important;
	}
}

@media (min-width: 798px) and (max-width: 991.98px) {
	#carousel img {
		width: 100% !important;
		height: 420px !important;
		object-fit: cover !important;
	}
}

@media (min-height: 0px) and (max-height: 491.98px) {
	#carousel img {
		width: 100% !important;
		height: 200px !important;
		object-fit: cover !important;
	}
}

@media (min-height: 492px) and (max-height: 591.98px) {
	#carousel img {
		width: 100% !important;
		height: 260px !important;
		object-fit: cover !important;
	}
}

@media (min-height: 592px) and (max-height: 691.98px) {
	#carousel img {
		width: 100% !important;
		height: 320px !important;
		object-fit: cover !important;
	}
}

@media (min-height: 692px) and (max-height: 791.98px) {
	#carousel img {
		width: 100% !important;
		height: 420px !important;
		object-fit: cover !important;
	}
}

@media (min-height: 792px) and (max-height: 891.98px) {
	#carousel img {
		width: 100% !important;
		height: 520px !important;
		object-fit: cover !important;
	}
}