footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 46px;
	z-index: 2;
}

.logouha40 {
	float: right;
	margin-right: 20px;
	width: 86px;
}

.logo {
	height: 46px;
	padding: 5px 5px !important;
	position: relative;
	left: 52.5px;
}

footer div span,
footer div span a {
	font-size: 75%;
	color: rgba(#fff, 0.8);
}

@media (max-width: 575.98px) {

	.logo {
		position: inherit !important;
		float: left !important;
	}
}
