@media (min-width: 100px) and (max-width: 699.98px) {
  .mls {
    margin-left: 120px;
  }
}
@media (min-width: 700px) and (max-width: 1023.98px) {
  .mls {
    margin-left: 120px;
  }
}
@media (min-width: 1024px) {
  .mls {
    margin-left: 270px;
  }
}

/*# sourceMappingURL=form_oeuvres.css.map */
