#btn-nav-dropdown {
  position: relative;
  left: 5px;
}

#btn-nav-dropdown .dropdown-toggle {
  min-width: 120px;
  max-width: 120px;
}

#connectionButton {
  position: absolute;
  right: 40px;
  top: 10px;
  min-width: 120px;
  max-width: 120px;
}

@media (max-width: 575.98px) {
  #btn-nav-dropdown {
    position: unset;
    display: unset;
    vertical-align: unset;
  }

  #btn-nav-dropdown .dropdown-toggle {
    min-width: 120px;
    max-width: 120px;
  }

  #dropdown-menu-group {
    max-width: 250px;
  }

  #connectionButton {
    position: inherit;
    right: inherit;
    top: inherit;
    margin-top: 24px;
    margin-bottom: 10px;
    min-width: 120px;
    max-width: 120px;
  }
}
#headerNavBar {
  width: 100%;
  background-color: #343434;
}

header .nav-link-color, .btn-connexion {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-active {
  color: #17A2B8 !important;
}

/*# sourceMappingURL=header.css.map */
