@media (max-height: 179.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 180px) and (max-height: 269.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 270px) and (max-height: 323.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 324px) and (max-height: 359.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 360px) and (max-height: 431.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 432px) and (max-height: 539.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 540px) and (max-height: 557.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 558px) and (max-height: 674.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 675px) and (max-height: 719.98px) {
  #mapid {
    height: 100vh;
  }
}
@media (min-height: 720px) and (max-height: 767.98px) {
  #mapid {
    height: 490px;
  }
}
@media (min-height: 768px) and (max-height: 899.98px) {
  #mapid {
    height: 530px;
  }
}
@media (min-height: 900px) and (max-height: 1079.98px) {
  #mapid {
    height: 680px;
  }
}
@media (min-height: 1080px) and (max-height: 1259.98px) {
  #mapid {
    height: 850px;
  }
}
@media (min-height: 1260px) and (max-height: 1439.98px) {
  #mapid {
    height: 1030px;
  }
}
@media (min-height: 1440px) and (max-height: 1655.98px) {
  #mapid {
    height: 1200px;
  }
}
@media (min-height: 1656px) and (max-height: 1826.98px) {
  #mapid {
    height: 1410px;
  }
}
@media (min-height: 1827px) and (max-height: 2015.98px) {
  #mapid {
    height: 1580px;
  }
}
@media (min-height: 2016px) and (max-height: 2159.98px) {
  #mapid {
    height: 1760px;
  }
}
@media (min-height: 2160px) {
  #mapid {
    height: 1900px;
  }
}
@media (max-width: 319.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 320px) and (max-width: 479.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 480px) and (max-width: 575.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 576px) and (max-width: 639.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 640px) and (max-width: 767.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 959.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 960px) and (max-width: 991.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 1200px) and (max-width: 1279.98px) {
  #mapid {
    width: 100vw;
  }
}
@media (min-width: 1280px) and (max-width: 1365.98px) {
  #mapid {
    width: 1220px;
  }
}
@media (min-width: 1366px) and (max-width: 1599.98px) {
  #mapid {
    width: 1300px;
  }
}
@media (min-width: 1600px) and (max-width: 1919.98px) {
  #mapid {
    width: 1560px;
  }
}
@media (min-width: 1920px) and (max-width: 2239.98px) {
  #mapid {
    width: 1850px;
  }
}
@media (min-width: 2240px) and (max-width: 2559.98px) {
  #mapid {
    width: 2170px;
  }
}
@media (min-width: 2560px) and (max-width: 2943.98px) {
  #mapid {
    width: 2480px;
  }
}
@media (min-width: 2944px) and (max-width: 3247.98px) {
  #mapid {
    width: 2860px;
  }
}
@media (min-width: 3248px) and (max-width: 3583.98px) {
  #mapid {
    width: 3160px;
  }
}
@media (min-width: 3584px) and (max-width: 3839.98px) {
  #mapid {
    width: 3470px;
  }
}
@media (min-width: 3840px) and (max-width: 4095.98px) {
  #mapid {
    width: 3720px;
  }
}
@media (min-width: 4096px) {
  #mapid {
    width: 3980px;
  }
}
@media (max-width: 1279.98px) and (max-height: 719.98px) {
  #mapTitle {
    display: none;
  }
}
#mapid {
  left: 50%;
  transform: translate(-50%);
  z-index: 0 !important;
  border-radius: 5px !important;
}

/*# sourceMappingURL=map.css.map */
