#btn-group-card-edit {
  padding-left: 10px;
}

@media (max-width: 575.98px) {
  #searchInput {
    font-size: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .card {
    height: inherit !important;
    width: inherit !important;
  }
}
@media (min-width: 798px) and (max-width: 991.98px) {
  .card {
    height: inherit !important;
    width: inherit !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card {
    height: inherit !important;
    width: inherit !important;
  }
}
.search {
  margin-bottom: 52px;
}

.card {
  min-width: 312px;
  max-width: 312px;
  margin-top: 20px;
  margin-right: 8px;
  margin-left: 8px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  max-height: 6000px;
  margin-bottom: 32px !important;
  padding: inherit !important;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

#Filtres button {
  margin: 4px;
}

#pagination {
  position: static;
  bottom: 120px !important;
}

.modal-body textarea {
  height: 320px !important;
}

.modal-body img {
  width: 100%;
  max-height: 360px;
  object-fit: cover;
}

.modal-header h5 {
  margin-right: 20px !important;
}

.modal {
  min-width: 362px;
}

.trash,
.edit,
.validate {
  margin-right: 6px !important;
}

.voir,
.localiser,
.trash,
.edit,
.validate {
  height: 40px !important;
}

.voir {
  padding-bottom: 4px !important;
}

.localiser {
  padding-top: 8px !important;
}

.loggedButtons {
  margin-left: 5px !important;
}

.paginat {
  margin: -1px;
  border-radius: 2px !important;
}

@media (max-width: 575.8px) {
  .allFilter {
    margin-left: 16px !important;
    margin-right: 16px !important;
    margin-top: 8px !important;
  }
}
.perPageSelect {
  position: relative;
  left: 40px;
}

.pageSelect {
  position: relative;
  left: 40px;
  margin-bottom: 20px;
}

.chg label {
  position: relative;
  top: 12px;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/*# sourceMappingURL=oeuvres.css.map */
