@import url("https://fonts.googleapis.com/css?family=Philosopher");
html {
  min-width: 298px;
  min-height: 474px;
  scroll-behavior: smooth;
}

body {
  letter-spacing: 1px;
  background-image: url("/assets/img/layout/white-wall-hash.png");
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

h1 {
  margin: 20px auto;
  font-family: "Philosopher", sans-serif;
}

@media (max-width: 575.98px) {
  h1 {
    margin: 20px auto;
  }
}
.hidden {
  display: none;
}

.form-w220 {
  width: 220px !important;
}

.blockError {
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  background-color: lightcoral;
}

.blockSuccess {
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  background-color: lightgreen;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 100px) and (max-width: 699.98px) {
  .jumbotron {
    max-width: 100% !important;
    min-width: 100% !important;
  }
}
@media (min-width: 700px) and (max-width: 1023.98px) {
  .jumbotron {
    max-width: 70% !important;
    min-width: 70% !important;
  }
}
@media (min-width: 1024px) {
  .jumbotron {
    max-width: 60% !important;
    min-width: 60% !important;
  }
}

/*# sourceMappingURL=style.css.map */
