{if !empty($smarty.session.isConnected) && $smarty.session.rights >= 2}
	{config_load file='config.conf'}
	<title>{#Admin_title#}</title>

	<div class="center w50">
		<h1 style="text-align: center;">{#Admin_title#}</h1>
	</div>

	<div>
		{if $aMessageError|@count > 0}
			<div class="blockError">
				{foreach from=$aMessageError key=key item=sMessageError}
					<p>- {$sMessageError}</p>
				{/foreach}
			</div>
		{/if}

		{if $aMessageSuccess|@count > 0}
			<div class="blockSuccess">
				{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
					<p>- {$sMessageSuccess}</p>
				{/foreach}
			</div>
		{/if}
	</div>

	<div>
		<ul>
			<li><a href="/admin/new-user">Ajouter un nouvel utilisateur</a></li>
		</ul>
	</div>
{/if}