{if !empty($smarty.session.isConnected)}
	{config_load file='config.conf'}
	<title>{#Form_category#}</title>

	<div class="center w50">
		<h1 style="text-align: center;">{#Form_category#}</h1>
	</div>

	<div>
		{if $aMessageError|@count > 0}
			<div class="blockError">
				{foreach from=$aMessageError key=key item=sMessageError}
					<p>- {$sMessageError}</p>
				{/foreach}
			</div>
		{/if}

		{if $aMessageSuccess|@count > 0}
			<div class="blockSuccess">
				{foreach from=$aMessageSuccess key=iFkey item=sMessageSuccess}
					<p>- {$sMessageSuccess}</p>
				{/foreach}
			</div>
		{/if}
	</div>

	<div class="container">
		<div class="d-flex justify-content-center p-2 my-5">
			<form class="form-inline" method="POST" action="/form-category" name="formCategory" id="formCategory" enctype="multipart/form-data">
				<label for="nameCategory" class="ml-3 p-1">Nom de la Catégorie:</label>
				<input type="text" class="form-control form-w220 mr-3 p-1 nameCategory" name="nameCategory" id="nameCategory">

				<label for="fileIcon" class="ml-3 p-1 text-center" title="extensions autorisés: bmp, gif, jpg, jpeg, png, tiff, webp">Image <br> (taille max: 1.5Mo, 64px*64px):</label>
				<input type="file" class="form-control-file form-w220 mr-3 p-1 fileIcon" name="fileIcon" id="fileIcon">

				<button type="submit" class="btn btn-info mx-3" value="Créer" name="submit">Créer <i class="fa fa-plus ml-1" aria-hidden="true"></i></button>
			</form>
		</div>

		<table id="myTable" class="display">
			<thead>
				<tr scope="row">
					<th scope="col">ID</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Image</th>
					<th scope="col">Action</th>
				</tr>
			</thead>

			<tbody>
				{foreach from=$categoryInformations key=IFkey item=categoryInformation}
					<tr scope="row" id="{$categoryInformation.id}">
						<form method="POST" action="/form-category" enctype="multipart/form-data">
							<td scope="col">{$categoryInformation.id}</td>

							<td scope="col">
								<span class="editCategory" name="editCategory">{$categoryInformation.categorie}</span>
								<input type="hidden" name="categoryId" value="{$categoryInformation.id}"/>
								<input type="text" class="form-control form-w220 categoryRow hidden" name="categoryRow" id="categoryRow" value="{$categoryInformation.categorie}">
							</td>

							<td scope="col">
								<span><img class="editImg" name="editImg" src="{$categoryInformation.image}" title="{$categoryInformation.image}"></span>
								<input type="file" class="form-control-file form-w220 imgRow hidden" name="imgRow" id="imgRow">
							</td>

							<td scope="col">
								<button type="submit" name="supprButton" class="btn btn-danger trash supprButton"><i class="fas fa-trash-alt"></i></button>
								<button type="reset" name="cancelButton" class="btn btn-danger trash cancelButton hidden"><i class="fas fa-times-circle"></i></button>
								<button type="button" name="editButton" class="btn btn-info edit editButton"><i class="fas fa-edit"></i></button>
								<button type="submit" name="validationButton" class="btn btn-success validaite validationButton hidden"><i class="fas fa-save"></i></button>
							</td>
						</form>
					</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
{/if}